body
{
    margin: auto;
}

header
{
    position: relative;
    background-color: black;
    padding: 35px 300px;
    border: 200px;

}


#graphique
{
   width: 200px;
}
.button{
    width: 150px;
    height: 22px;
    font-size: large;
  line-height: 1.2;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: orange;
  box-shadow: 1px 1px 1px black,
              inset 2px 3px 5px rgba(0,0,0,0.3),
              inset -2px -3px 5px rgba(255,255,255,0.5);
}

.button:hover{
    background-color: grey ;
}

.velo img{
    display: block;
    height: 550px;
    margin: auto;  
}

footer
{
    position: relative;
    background-color: #DE781F;
    padding: 35px 300px;
    border: 200px;
    margin-top: 354px;
}