@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body
{
    margin: auto;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
}

nav .logo_bicloo {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
nav .logo_bicloo img {
  width: 100px;
  height: 50;
  border-radius: 20%;
}

nav .cycliste {
  display: flex;
  align-items: center;
}

nav .cycliste img {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  filter: invert(100%);
}

nav .logo_ada {
  margin-right: 20px;
  display: flex;
}

nav .logo_ada img {
	width: 120px;
	height: 40px;
}

#graphique {
    display: block;
    position: relative;
    box-sizing: border-box;
    height: 14em;
    width: 39em;
    top: 35.5em;
    left: 51.25em;
}

#compteur {
padding: auto;
font-size: 130px;
font-family: 'Anton';
letter-spacing: 10px;
margin-left: 10%;
}

.button {
  width: 150px;
  height: 22px;
  margin-left: 10%;
  font-size: large;
  line-height: 1.2;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #de781f;
}

.button:hover {
  background-color: grey;
}

.velo img {
  display: block;
  height: 550px;
  margin: auto;
}

footer
{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    background-color: #DE781F;
    color: white;
	    
    /*position: relative;
    background-color: #DE781F;
    padding: 35px 300px;
    border: 200px;*/ 
}

footer .ecran {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
footer .ecran img{
    width: 50px;
	height: 50px;
	border-radius: 20%;
    filter: invert(100%);
}

footer .credits{
    margin-top: 0.5%;
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
}
