@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
    margin: auto;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  top: 0;
}

nav .logo_bicloo {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

nav .logo_bicloo img {
  width: 120px;
  height: 50;
}

nav .cycliste {
  display: flex;
  align-items: center;
}

nav .cycliste img {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  filter: invert(100%);
}

nav .logo_ada {
  margin-right: 10px;
  display: flex;
}

nav .logo_ada img {
	width: 140px;
	height: 50px;
  animation: logo_ada 1s ease;
}

@keyframes logo_ada {
  30% {
transform: scale(1.2);
  }
  40%, 60% {
transform: rotate(-20deg) scale(1.2);
  }
  50% {
transform: rotate(20deg) scale(1.2);
  }
  70%{
transform: rotate(0deg);
  }
  100%{
transform: scale(1);
  }
}

nav .bike_logo img{
  width: 77%;
  animation: bike_logo 2s ease ;
}

@keyframes bike_logo {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.bike_logo {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.project_title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-family: "Raleway";
  font-size: 250%;
  font-weight: bold;
}

.project_title img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.project_title {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: -2%;
}

.velo {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.velo img {
  width: 30%;
  height: 20%;
  margin: auto;
}

.graph {
  display: flex;
  flex-flow: column-reverse wrap-reverse;
}

#graphique {
    position: absolute;
    margin-left: 53.7%;
    height: 73%;
    width: 26%;
    top: 41%;
}

.velo_graph {
  position: relative;
}

#compteur {
  display: flex;
  font-family: 'Anton';
  letter-spacing: 0.6em;
  color: white;
  font-size: 2.9rem;
}

.cadre_compteur {
  background-color: black;
  display: flex;
  padding-left: 10%;
  margin-bottom: 10%;
}

.compt_act {
  position: absolute;
  top: 40%;
  left: 10%;
  margin: auto;
}

.button {
  display: flex;
  position: absolute;
  width: 150px;
  height: 30px;
  font-size: large;
  line-height: 1.8;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #de781f;
  margin-left: 11.5%;
  bottom:45%;
  padding-left: 1%;
}

.button:hover {
  background-color: grey;
}

.image_button img {
  width: 50%;
}

.image_button {
  display: flex;
  position: absolute;
  bottom: 28%;
  left: 12.5%;
}

.arrow_bike {
  display: flex;
  position: absolute;
  bottom: 30%;
  right: 17%;
  height: 10%;
}

footer {
    margin-bottom: 0;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background-color: #DE781F;
    color: white;
    position: sticky;
}

footer .ecran {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

footer .ecran img {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  filter: invert(100%);
}

footer .credits {
  margin-top: 0.5%;
  margin-left: 20px;
  font-family: "Raleway", sans-serif;
}

.bubble {
  display: flex;
  position: absolute;
  left: 65%;
}

.bubble img {
  width: 80%;
}

/* .crédit-end {
  position: absolute;
  margin-bottom: 50%;
}